body{
	background-color: beige;
}
button{
	margin-top: 9%;
	background-color: rgb(226, 210, 194);
}
.pequeño{
	text-align: center;
	margin-top: 5%
}
.imagen{
	width: 30px;
	border-radius: 15px;
}
.nav-wrapper{
	margin-top: 1%;
}
.enlace{
	margin-top: 3%;
	
}
.nav-wrapper{
	text-align: center;
}
.logo{
	width: 150px;
	
}
.rebember{
	margin-top: 2%;
}